html{
    min-height: 100%;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}


@import 'variables';
@import 'home';
@import 'buttons';